<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FastlaneDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F089E071F25DABF00ECDCEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F089E1B1F25DAC000ECDCEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F089E261F25DAC100ECDCEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
